{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
    <div class="content-wrapper">
        <h1>Tartib qoidalar</h1><hr>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <b>O'quvchini o'chirish</b> -- Ehtiyotkorlikni unutmang. O'quvchini o'chirishdan oldin "Darslar puli"ga etibor bering.
                    Ushbu maydonda biror summa bo'lsa to'lov qilishini so'rang va to'lovdan so'ng o'chirib yuborishingiz mumkun. 
                </p> 
            </div>
            <div class="col-md-6">
                <img width="100%" src="/static/images/faq1.png" alt="">
            </div>
            <div class="col-md-6">
                <p>
                    <b>O'qituvchini o'chirish</b> -- O'qituvchini o'chirishdan oldin rasmda ko'rsatilgan maydondagi summani to'lagandan so'ng
                    ko'k strelkada ko'rsatilgan tugmachani bosgandan so'ng o'chiring. O'chirish tugmasini bosganingizda O'qtuvchining guruhlari o'chib ketadi.
                    ESLATMA o'qituvchini o'chirishdan oldin o'rniga yangi o'qituvchi qo'shib oling.
                </p>
            </div>
            <div class="col-md-6">
                <img width="100%" src="/static/images/faq2.png" alt="">
            </div>
            <div class="col-md-6">
                <p>
                    <h3>Eng muhimi Guruhni o'chirish</h3> -- Guruhni o'chirishda juda ehtiyot bo'ling, chunki Guruhdagi o'qituvchilar va o'quvchilar
                    o'chib ketishi mumkun. Shu sababli guruhdagi o'quvchilarni yangilash orqali guruhini o'zgartiring. ESLATMA: Aslida guruhni o'chirish guruhni
                    o'qish jarayoni tugashidir bunday hollarda o'quvchilarning ham o'chib ketishi maqsadga to'g'ri keladi, ammo ma'lum sabablar bo'lgan vaqda har
                     bir o'quvchini guruhini o'zgartirasiz.
                </p>
            </div>
            <div class="col-md-6">
                <img width="100%" src="/static/images/faq3.png" alt="">
            </div>
        </div>
        
        
    </div>
{% endblock content %}
    