{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
    <div class="content-wrapper">
        <h3>Yangi ochiladigan Guruhlar</h3><hr>

        <div class="row">
            {% for group in groups %}
                
            <div class="col-md-4">
                <div class="card">
                    <div class="card-title-w-btn">
                        <h3 class="title">{{group.name}}</h3>
                        <div class="btn-group">
                            <a class="btn btn-info" href="{% url 'main:update_group' group.pk %}" title="O'zgartirish"><i class="fa fa-lg fa-edit"></i></a>
                            <a class="btn btn-warning" href="{% url 'main:delete_group' group.pk %}" title="O'chirish"><i class="fa fa-lg fa-trash"></i></a>
                            <a class="btn btn-primary" href="{% url 'main:activate' group.pk %}" title="Boshlash">Guruhni boshlash</a>
                        </div>
                    </div><hr>
                    <div class="card-body">
                        <p><b>Fani: </b>{{group.subject}}</p>
                        <p><b>O'qituvchisi: </b>{{group.teacher.name}} {{group.teacher.surname}}</p>
                        <p><b>O'quvchilar soni: </b>{{group.student.all.count}} ta</p>
                        <p><b>Kunlari: </b>{{group.kunlari}}</p>
                        <p><b>Vaqti: </b>{{group.time}}</p>
                        <p><b>Bir oydagi darslar soni: </b>{{group.days_in_month}} ta</p>
                        <p><b>To'lovi: </b>{{group.payment}} so'm</p>
                        <hr>
                        {% for stu in group.student.all %}
                        
                        {% if stu.called == True %}
                        <a href="{% url 'main:student' stu.pk %}"><p><b>{{stu.name}}</b> {{stu.surname}}</p></a>
                        {% else %}
                        <a href="{% url 'main:student' stu.pk %}"><p><b>{{stu.name}}</b> {{stu.surname}} <a href="#" data-pk="{{stu.pk}}" class="label label-success call"><i class="fa fa-phone"></i></a></p></a>
                        {% endif %}
                            
                        {% endfor %}
                            
                    </div>
                </div>
            </div>

            {% endfor %}

            <div class="col-md-4">
                <a href="{% url 'main:add_group' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Qo'shish</a>
            </div>
        </div>

    </div>
    <script>
        $('.call').on("click", function(){
            $(this).hide()
            if (window.XMLHttpRequest) {
                var xhttp=new XMLHttpRequest();
            } else {  // code for IE6, IE5
                var xhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            let pk = $(this).data('pk')
            xhttp.open("GET", `/call/?pk=${pk}`, true);
            xhttp.send();
        })
    </script>
{% endblock content %}
    