{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
    <div class="content-wrapper">

        <div class="row">
            
            {% for teacher in request.user.teacher.all %}
                
            <div class="col-md-4">
                <div class="card">
                    <div class="card-title-w-btn">
                        
                        {% if teacher.image %}
                        <img style="max-width: 90px;" src="{{teacher.image.url}}" alt="">
                        {% endif %}
                         <div>
                             <h3 class="title">{{teacher.name}}</h3>
                             <h5 class="title">{{teacher.surname}}</h5>
                        </div>   
                        <div class="btn-group">
                            <a class="btn btn-info" href="{% url 'main:update_teacher' teacher.pk %}"><i class="fa fa-lg fa-edit"></i></a>
                            <a class="btn btn-warning" href="{% url 'main:delete_teacher' teacher.pk %}"><i class="fa fa-lg fa-trash"></i></a>
                        </div>
                    </div><hr>
                    <div class="card-body">
                        <p><b>Fani: </b>{{teacher.subject}}</p>
                        <p><b>Telefon raqami: </b>+998 {{teacher.tel_num}}</p>
                        <p><b>Bitta o'quvchidan necha % olishi: </b>{{teacher.price}}%</p>
                        <p><b>Guruhlar soni: </b>{{teacher.group.all.count}} ta</p>
                        <h3><b>Hozirgi maoshi: </b>{{teacher.allprice}} so'm</h3>
                        <hr>
                        <h4>Tarixi</h4>
                        {% for his in teacher.history.all %}
                            <p class="label label-info" title="{{his.time}}"><i class="fa fa-circle"></i> {{his.time}} <span class="label label-success">{{his.price}} so'm</span></p>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <div class="form-inline">
                            <div class="form-group">
                                <input class="form-control" type="number" id="value" value="{{teacher.allprice}}">
                                <a href="#" id="givePrice" data-pk="{{teacher.pk}}" class="btn btn-primary"><i class="fa fa-credit-card"></i> Maosh berish</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

            <div class="col-md-4">
                <a href="{% url 'main:add_teacher' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Qo'shish</a>
            </div>
        </div>

    </div>
    <script>
        $('a#givePrice').on("click", function(){
            $(this).html("Berildi").addClass('disabled')
            if (window.XMLHttpRequest) {
                var xhttp=new XMLHttpRequest();
            } else {  // code for IE6, IE5
                var xhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            let value = $(this).parent('div.form-group').children('#value').val()
            let pk = $(this).data('pk')
            xhttp.open("GET", `/pay_for_teacher/?pk=${pk}&price=${value}`, true);
            xhttp.send();
        })
    </script>
{% endblock content %}
    