<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O'chirish</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <center>
        <h3>O'qituvchini o'chirishni hoxlaysizmi?</h3>
        <div class="alert alert-danger">O'qituvchining guruhlari yo'qligiga ishonchingiz komilmi?</div>
        <form action="" method="POST">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Tasdiqlash</button>
            <a href="{% url 'main:teachers' %}" class="btn btn-default">Bekor qilish</a>
        </form>
    </center>
</body>
</html>