{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
<div class="row">
    <div class="col-md-7">
        <form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
            <div class="card">
                <h3 class="card-title">O'qituvchini Yangilash</h3>
                <div class="card-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">Ismi</label>
                        <div class="col-md-8">
                            {{form.name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Familiya</label>
                        <div class="col-md-8">
                            {{form.surname}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Tel. raqami</label>
                        <div class="col-md-8">
                            {{form.tel_num}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Rasmini tanlang</label>
                        <div class="col-md-8 form-inline">
                            
                            {% if form.image.value %}
                            <a href="{{form.image.value.url}}" class="label label-success">Hozirgini ko'rish</a>
                                
                            {% endif %}
                                
                            <input value="" name="image" class="form-control" type="file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Fani</label>
                        <div class="col-md-8">
                            {{form.subject}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Bitta o'quvchidan necha % olishi</label>
                        <div class="col-md-8">
                            {{form.price}}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-3">
                            <button class="btn btn-primary icon-btn" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>TASDIQLASH</button>
                            <a class="btn btn-default icon-btn" href="{% url 'main:home' %}"><i class="fa fa-fw fa-lg fa-times-circle"></i>BEKOR QILISH</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <img style="width: 100%;" class="card" src="/static/images/teacher.jpg" alt="">
    </div>
</div>
</div>

<script>
    $('input').addClass('form-control')
    $('#id_subject').addClass('form-control')
</script>
{% endblock content %}
